#article{
    --bg_col:darkslategray;
    --bg_col_alt:#99cc00;
    --text_col:darkgray;
    --text_col_alt:darkslategrey;
}

#main{
    --bg_col:#c0392b;
    --text_col:black;
    --text_col_alt:#2d3436;
    --bg_col_alt: #e74c3c;
}

#form{
    align-self: center;
    padding-left: auto;
    color: white;
    margin-bottom: 5vh;
}

.forminput{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    color: #666;
    background-color: #c5c7c1;
    height: 4vh;
    width: 40vw;
    border: none;
    border-radius: 10px;
    font-size: 2vh;
    padding-left: 10px;
    margin-left: auto;
    margin-top: 1vh;
    padding-top: 10px;
}

input:invalid, textarea:invalid{
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.4);
}

.komentare{
    border-radius: 10px;
    background-color: indianred;
    margin: 4vw;
    padding-left: 1vh ;
}

.imagewrapper{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    justify-content: space-around;
}

.imagewrappers{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-top: 1vh;
    margin: auto;
}

.cut{
    display: none;
}

#cut{
    display: none;
}

.imagewrappers img{
    flex-basis: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

table, th, td{
    text-align: center;
    width: 70vw;
    border: 0.05vw solid black;
    font-size: 2.5vh;
}

.navbar{
     align-items: center;
     overflow: hidden;
     padding-top: 0.5vw;
     font-size: 3vh;
     width: 80vw;
     margin: auto;
     display: flex;
     flex-flow: row;
     justify-content: space-evenly;
 }

.navbar a{
    margin-top: 2vh;
    color: var(--text_col);
    background-color: var(--bg_col);
    text-decoration: none;
    align-self: center;
    display: inline-block;
    width: 20vw;
    height: 4vh;
    text-align: center;
    margin: auto;
}

.navbar a:hover{
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    margin-top: 2vh;
    color: var(--text_col_alt);
    text-decoration: none;
    align-self: center;
    display: inline-block;
    width: 20vw;
    height: 4vh;
    text-align: center;
    margin: 0.05vw;
    background-color: var(--bg_col_alt);
}

#onpage{
    margin-top: 2vh;
    color: var(--text_col_alt);
    text-decoration: none;
    align-self: center;
    display: inline-block;
    width: 20vw;
    height: 4vh;
    text-align: center;
    margin: auto;
    background-color: var(--bg_col_alt);
}

.navbar a.icon {
    display: none;
}

@media screen and (max-width: 900px){
    .cut{display: inline-block}
    .full{display: none}

    #cut{display: flex;animation-name: show; animation-duration: 2s; padding-bottom: 2vh}
    #full{display: none}
}

@media screen and (max-width: 600px){

    #main .navbar a#onpage {display: inline-block; width: 80vw; height: 4vh;}
    .navbar a#onpage {
        display: none;
    }
    .navbar a:not(:first-child) {
        display: none;
        transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease;
    }


    .navbar a:not(:first-child).icon{
        float: right;
        color: var(--bg_col_alt);
        background-color: gray;
        display: block;
        width: 5vw;
        height: 4vh;
        animation-duration: 0.6s;
        animation-name: show;
        border: 0;
    }

    .navbar {
        transition-property: width;
        transition-duration: 0.8s;
        transition-timing-function: ease;
        align-items: center;
        text-align: center;
        padding-top: 0.5vw;
        font-size: 3vh;
        width: 80vw;
        height: 4vh;
        display: flex;
        flex-flow: row;
        flex-grow: 1;
    }


    .navbar a:first-child{
        transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease;
        margin-top: 2vh;
        color: var(--text_col_alt);
        text-decoration: none;
        align-self: center;
        width: 75vw;
        height: 4vh;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: var(--bg_col_alt);}
}

@media screen and (max-width: 600px){


    .navbar.responsive {
        display: flex;
        height: auto;
        flex-flow: column;
    }
    .navbar.responsive a:not(:first-child) {
        display: block;
        padding-top: 1px;
        width: 80vw;
        height: 4vh;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .navbar.responsive a:first-child {
        transition-property: width;
        padding-top: 1px;
        transition-duration: 0s;
        transition-timing-function: ease;
        color: var(--text_col);
        height: 4vh;
        background-color: var(--bg_col);
        display: block;
        width: 80vw;
        margin: auto;
    }

    .navbar.responsive a:first-child:hover {
        color: var(--text_col_alt);
        background-color: var(--bg_col_alt);
    }

    .navbar.responsive a#onpage{
        display: block;
        width: 80vw;
        height: 4vh;
    }

    .navbar.responsive.icon {
        height: 4vh;
        font-size: 2vh;
    }

}

#mainpagehead.img{
    height: 20vw;
    width: auto;
}

#mainpagehead.img{
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: twist;
}

ul{
    list-style: none;
    list-style-position: outside;
    padding: 0px;
    text-align: center;
}

.imagewrapper .img{
    width: 20%;
}

.center h1 {
    transition-property: font-size;
    transition-duration: 0.4s;
    transition-delay: 0.5s;
    font: 6vh arial, sans-serif;
    text-align: center;
    color: darkslategrey;
}

.center {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    font: 1.5em arial, sans-serif;
    word-wrap: break-word;
    background-color: #8f918d;
    text-align: justify;
}

#ME:hover{
    transform: rotate(360deg);
    transform-origin: center;
    transition-duration: 3s;
}

.bottom{
    display: inline-block;
    font: 2vh "Courier New", monospace;
    background-color: aliceblue;
    height: 2vh;
    width: 80vw;
    position: sticky;
    text-align: center;
}


.footer{
    background-color: aliceblue;
    height: 1vw;
    width: 100%;
}

.center p{
  margin-left: 20px;
  margin-right: 20px ;
}

.MAIL {
    text-decoration: none;
    color: black;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes twist {
to {
        transform: rotate3d(0,90,0,360deg);
    }
}

